services:
  app:
    build: .
    container_name: flight33-backend
    ports:
      - "4000:4000"
    environment:
      - REDIS_URL=redis://redis:6379 
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    container_name: flight33-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

volumes:
  redis-data:
